/* General Styles */

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    background-color: #efeff7;
    background-size: 2em 2em;
    background-image:  repeating-linear-gradient(0deg, #444cf7, #444cf7 0.1em, #efeff7 0.1em, #efeff7);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}


/* Container */

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70em;
    height: 38em;
    margin: 2.3vw auto;

    background-color: rgba(185,21,32,255);
    border-radius: 1.5em;
}

/* Board */

#board {
    display: grid;

    width: 60em;
    height: 26em;
    margin-bottom: .3em;
}

/* Buttons */

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.size-board {
    display: flex;
    justify-content: center;
    gap: .7em;

    border-radius: .5em;
}

#color-btn {
    border-radius: 50%;
    width: 5em;
    height: 5em;

    border: none;
    cursor: pointer;
}

#setting-btn {
    border-radius: .5em;
    width: 5em;
    height: 3em;

    border: none;
    cursor: pointer;
}

.black {
    background-color: black;
    color: white;
}

.black:active {
    background-color: rgb(20, 20, 20);
}

.random {
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,255,25,1) 50%, rgba(12,0,255,1) 100%);
    color: white;
}

.random:active {
    background: linear-gradient(90deg, rgba(12,0,255,1) 0%, rgba(0,255,25,1) 50%, rgba(255,0,0,1) 100%);
}
